.chatScreen{
    height: -webkit-fill-available;
    /* height:fit-content; */
    background: linear-gradient(180deg, rgba(215, 199, 244, 0.05) 0%, rgba(151, 133, 186, 0.2) 100%);
    border-radius: 0px;
    padding: 16px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 25px;
}
.logolg{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px #9c9c9c; 
}
.exampleBox{
    background-color: #fff;
    padding: 20px 10px 20px 10px;
    text-align: start;
    border-radius: 7px;
    box-shadow: 1px 1px 4px #c0c0c0; 
}
.exampleContainer{
    margin-top: 100px;
}
.defaultChatScreen{ 
    /* position: fixed;
    bottom: 100px; */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}
.defaultChatScreenTop{
    flex-grow: 1;
}
/* @media screen and (max-width:576px){
    .defaultChatScreen{
        position: relative;
        bottom: inherit;
    }
} */
 .chatContent{
    height: auto;
    overflow-y: scroll;
    padding: 10px;
 }

.promptBox{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.12);
    padding: 15px 20px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    margin: 10px 0px;
}
.avatar{
    width: 65px;
    height: 69px; 
    border-radius: 50%;
}


/* .chatContent::-webkit-scrollbar {
width: 8px;    
}  

.chatContent::-webkit-scrollbar-track {
background: #bfbfbf;  
}


.chatContent::-webkit-scrollbar-thumb {
background: #bbbbbb;
border-radius: 1rem; 
}

.chatContent::-webkit-scrollbar-thumb:hover {
background: #9c9c9c; 
} */

.feedbackModal{
    border-width: 0 !important;
    outline: none !important;
    border: 0px solid !important;
    border-radius: .5rem;
}

.feedbackTextContainer{
    width: 100%;
    margin: 20px 0px;
}
.feedbackTextContainer > *{
    width: 100%;
}

.FeedbackbtnContainer{
    display: flex;
    justify-content: flex-end;
}