/* .sideBar{
font-family: 'Ubuntu' !important;
} */
.newChat{
    text-align: center;
    padding: 0px 10px;
    background-color:rgba(215, 199, 244, 1);
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px #9c9c9c;
    object-fit: cover;
}
.newchatImg{
    width: 20px;
    height: 20px;
} 
